<label for="new-channel">New channel:</label>
<input type="text" id="new-channel"/>
<input type="button" value="Ok" onclick="createChannel()"/>
<h2>Channels:</h2>
<div id="channels"></div>
<h2>Online:</h2>
<div id="online"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    let userinfos, channels = [];
    $(document).ready(() => {
        if (document.cookie.length === 0) {
            window.location = '/'
        }
        const socket = io();
        socket.emit('login', Cookies.get('token'))
        socket.on('user info', (msg) => {
            userinfos = msg;
        })
        socket.on('channels', (msg) => {
            $("#channels").html('')
            for (let channel of msg) {
                $("#channels").append(`<a href='/chat/${channel.channel}'>${channel.channel}</a><br />`)
            }
        })
        socket.on('online', (msg) => {
            for (let key in msg) {
                if ($(`#user-${msg[key]}`).length === 0)
                    $("#online").append(`<span id='user-${msg[key]}'><a href='/pm/${msg[key]}'>${msg[key]}</a><br /></span>`)
            }
        })
        socket.on('user-login', (msg) => {
            if ($(`#user-${msg.user}`).length === 0)
                $("#online").append(`<span id='user-${msg.user}'><a href='/pm/${msg.user}'>${msg.user}</a><br /></span>`)
        })
        socket.on('user-logout', (msg) => {

        })
        setInterval(() => {
            socket.emit('channels-request')
        }, 1000)
    })

    function createChannel () {
        let name = $("#new-channel").val();
        $.ajax({
            url: '/chat/channels',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({name: name}),
            headers: {
                token: Cookies.get('token')
            }
        });
    }
</script>