<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="/">Super duper chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="default" href="/chat">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-value="signup" href="/signup">Sign up</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="user-form shadow rounded container py-4">
        <h3>Log in to Super duper chat</h3>
        <form>
            <div class="form-group">
                <input type="text" id="username" class="form-control" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="Password" />
            </div>
            <input type="button" value="Login" class="btn btn-primary" onclick="login()" />
            <div class="form-group signup-text">
                <a href="signup">No account ? Click here to sign up</a>
            </div>
        </form>
    </div>
</body>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script>
    function login() {
      const username = $("#username").val();
      const password = $("#password").val();
      $.ajax({
          url: '/chat/login',
          method: 'POST',
          data: JSON.stringify({
            username: username,
            password: password
          }),
          contentType: 'application/json',
          success: (data) => {
              window.location = '/chat'
          },
          error: (jqxhr, text, err) => {
              alert('Login failed ' + text)
          }
      })
    }
    function createAccount() {
        window.location.replace("signup")
    }
</script>
