<h1>{{user}}</h1>

<div id="chat"></div>
<input type="text" id="input"/>
<button onclick="send()">Send</button>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    let socket;
    $(document).ready(() => {
        socket = io();
        setInterval(() => {
            socket.emit('pm-request', {
                token: Cookies.get('token'),
                user: '{{user}}'
            })
        }, 1000)
        socket.on('private-messages', (msgs) => {
            $("#chat").html('')
            for (let msg of msgs) {
                $("#chat").append(`<span class='msg'><span class='from'>${msg.from_user}: </span> ${msg.content}</span><br />`)
            }
        })
    })

    function send () {
        const msg = $("#input").val()
        $("#input").val('')
        socket.emit('pm-message', {
            token: Cookies.get('token'),
            user: '{{user}}',
            content: msg
        })
    }
</script>