<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="/">Super duper chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="default" href="/chat">Chat</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-value="login" href="/">Login</a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <div class="user-form shadow rounded container py-4">
        <form>
            <h3>Super duper chat sign up form</h3>
            <div class="form-group">
                <input type="text" id="username" class="form-control" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="password" id="password_confirmation" class="form-control" placeholder="Password confirmation" />
            </div>
            <input type="button" value="Create account" class="btn btn-primary" onclick="createAccount()" />
        </form>
    </div>
</body>



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    function createAccount() {
      const username = $("#username").val();
      const password = $("#password").val();
      const password_confirmation = $("#password_confirmation").val();

      if (password !== password_confirmation) {
          alert('Wrong password confirmation')
      }
      else if (password === '') {
          alert('Password can\'t be empty')
      }
      $.ajax({
          url: '/signup',
          method: 'POST',
          data: JSON.stringify({
            username: username,
            password: password
          }),
          dataType: 'json',
          contentType: 'application/json',
          sucess: (data) => {
            window.location.replace('index')
          }
          //error: (jqxhr, text, err) => {
              // alert('User creation failed: ' + jqxhr.getResponseHeader())
              //alert('User creation failed: ' + text) 
          //}
      })
    }
</script>
